FLASK_SECRET_KEY=default-dev-key
MONDAY_API_TOKEN=your_monday_api_token_here
BOARD_ID=9609739665
CLIENT_ID=your_microsoft_client_id_here
TENANT_ID=common
WEATHER_API_KEY=your_openweathermap_key_here
WEATHER_CITY=Atlanta
